---
import Mainlayout from "../layouts/Mainlayout.astro";
import Form from "../components/Form.astro";
import Testimonial from "../components/Testimonial.astro";

const url = "https://dvmptwdziademulaatzd.supabase.co/rest/v1/testimonials?approved=is.true";
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR2bXB0d2R6aWFkZW11bGFhdHpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg2OTc1MTMsImV4cCI6MTk5NDI3MzUxM30.89WAyrAnFikazYnvmF6-hyrpZt58wAyRMAw78SeHOhk";

const response = await fetch(url,{
	method: "GET",
	headers: {
		apikey: key,
		'Accept' :'application/json',
		'Content-Type' :'application/json'
	},
	
});
const udsagn = await response.json();

function getFirstNChars(str, length) {
	// vis kun et begrænset antal karakterer
  return str.substring(0, length);
}
---
<Mainlayout title = "Anmeldelser">
<main>
	<Form />
	<ul>
		{
		udsagn.map((testimonial) => {
return <Testimonial name = {testimonial.name} overskrift = {testimonial.overskrift} text = {getFirstNChars(testimonial.text,30)+"..."} link = {"/testimonial/"+testimonial.id}/>
		})

		}
	</ul>
</main>
</Mainlayout>