---

---
<form id="myForm">
        <div class="formfield">
            <label for="name">Name:</label>
            <input type="text" name="name" required />
            
        </div>
    
        <div class="formfield">
            <label for="comment">Comment</label>
            <input type="textarea" name="comment" required />
            
        </div>
        <div class="formfield">
             <label for="in_stock">Godkendt</label>
            <input type="checkbox" name="approved" value="true">
        </div>
    <button>SEND</button>
</form>
<script>
const url = "https://dvmptwdziademulaatzd.supabase.co/rest/v1/testimonials"
const key = "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImR2bXB0d2R6aWFkZW11bGFhdHpkIiwicm9sZSI6ImFub24iLCJpYXQiOjE2Nzg2OTc1MTMsImV4cCI6MTk5NDI3MzUxM30.89WAyrAnFikazYnvmF6-hyrpZt58wAyRMAw78SeHOhk";

const form = document.querySelector("#myForm");
form.addEventListener("submit", submitform);

function submitform(event){
   event.preventDefault();//forhindrer refresh
    const formData = form.elements;
    let name = formData.name.value;
    let text = formData.comment.value;
    let approved = formData.approved.value;
    //saml evt data i const
    //document.querySelector("#myForm").reset();
fetch(url, {
    method:"POST",
    headers: {
        apikey: key,
        'Accept': 'application/json',
        'Content-Type': 'application/json'
       
    },
    body:JSON.stringify({ name, text, approved }),
})

console.log("test");
}
</script>
<style>
form{
    box-sizing: border-box;
        display: grid;
        border: 1px solid #456;
        border-radius: 0.6rem;
        padding: 20px;
    
        
    }
    .formfield{
        display: grid;
        gap:0.3rem;
    }
    form button{
        font:inherit;
        border-radius: 0;
        padding: 0.5rem;
        width: 25%;
cursor:pointer;
    }
    div{
        margin: 10px 0;
    }
    input{
       font:inherit;
       font-size: max(16px, 1em);
       border:1px solid #333;
       line-height: 2rem;
       padding-left:.5rem; 
    }
</style>